<p>
  t-list works!
</p>

<p-dataTable [value]="questions" [paginator]="true" [rows]="pageSize" [totalRecords]="totalRecords" [lazy]="true" (onLazyLoad)="loadData($event)"
      [(selection)]="selectedQuesions">
      <p-column [style]="{'width':'38px'}" selectionMode="multiple"></p-column>
      <p-column header="index">
        <template let-rowIndex="rowIndex" pTemplate="body">
          {{rowIndex+1}}
        </template>
      </p-column>
      <p-column field="question" header="question"></p-column>
      <p-column field="options" header="options">
        <template let-col let-q="rowData" let-ri="rowIndex" pTemplate="body">
          <div *ngFor="let opt of q[col.field]">{{opt}}</div>
        </template>
      </p-column>
      <p-column field="correct" header="correct"></p-column>
      <p-column field="tags" header="tags">
        <template let-col let-q="rowData" let-ri="rowIndex" pTemplate="body">
          <div *ngFor="let tag of q[col.field]">{{tag}}</div>
        </template>
      </p-column>
    </p-dataTable>
